<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <title>Lista de Convidados Vue</title>
</head>

<body>

  <div id="app">
    <b-container>
      <h1>{{ title }}</h1>
      <template>
        <div id="alert">
          <b-alert v-for="(item, index) in arrayAlerta " variant="danger" dismissible fade :show="exibeAlert"
            @dismissed="exibeAlert=false">
            {{arrayAlerta[index]}}
        </div>
      </template>
      <b-card class="mb-3">
        <form>
          <b-row>
            <b-col cols="12" lg="4" md="6">
              <b-form-group label="Nome" label-for="nome">
                <b-form-input id=nome v-model="convidado.nome" type="text" required placeholder="Ex: Maria da Silva">
                </b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" lg="2" md="6">
              <b-form-group label="Idade" label-for="idade">
                <b-form-input id=idade v-model="convidado.idade" type="number" required>
                </b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" lg="4" md="6">
              <b-form-group label="Email" label-for="email">
                <b-form-input id=email v-model="convidado.email" type="email" required placeholder="maria@gmail.com">
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="12" lg="4" md="4">
              <b-form-group label="CEP" label-for="cep">
                <b-form-input id=cep v-model="convidado.endereco.cep" type="text" required placeholder="CEP">
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="auto">
              <b-button class="botaoBuscarCep" @click="buscarCep(convidado.endereco.cep)" variant="primary">Buscar</b-button>
            </b-col>

            <b-col cols="12" lg="3" md="6">
              <b-form-group label="Logradouro" label-for="logradouro">
                <b-form-input id=logradoruro v-model="convidado.endereco.logradouro" type="text" required
                  placeholder="Ex: Praça da Sé">
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="12" lg="3" md="6">
              <b-form-group label="Bairro" label-for="bairro">
                <b-form-input id=bairro v-model="convidado.endereco.bairro" type="text" required placeholder="Ex: Sé">
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="12" lg="4" md="6">
              <b-form-group label="Localicade" label-for="localidade">
                <b-form-input id=localidade v-model="convidado.endereco.localidade" type="text" required
                  placeholder="Ex: São Paulo">
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="12" lg="4" md="6">
              <b-form-group label="Estado" label-for="uf">
                <b-form-input id=uf v-model="convidado.endereco.uf" type="text" required placeholder="Ex: SP">
                </b-form-input>
              </b-form-group>
            </b-col>

          </b-row>
        </form>
        <b-row align-h="end">
          <b-col cols="auto">
            <b-button variant="outline-danger" @click="limpar" variant="primary">Cancelar</b-button>
          </b-col>
          <b-col cols="auto">
            <b-button @click="salvar" variant="primary">Salvar</b-button>
          </b-col>
        </b-row>
      </b-card>

      <b-card>
        <b-row>
          <b-col cols="12" md="6">
            <b-form-group>
              <b-form-input v-model="textoBusca" type="text" placeholder="Buscar por nome"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="auto">
            <b-button @click="buscar" variant="primary">Buscar</b-button>
          </b-col>
        </b-row>
        <b-table striped hover :items="listaConvidados" :fields="fields">
          <template v-slot:cell(acoes)="row">
            <b-btn @click="editar(row.index)" variant="success">Editar</b-btn>
            <b-btn @click="confirmarRemocao(row.item)" variant="outline-danger">Excluir</b-btn>
          </template>
        </b-table>

      </b-card>
    </b-container>

    <b-modal v-model="exibirModalExclusao" title="Confirmar ação" centered>
      <p>Tem certeza que deseja excluir?</p>
      <template v-slot:modal-footer="{ cancel }">
        <b-btn @click="excluir" variant="outline-danger">Excluir</b-btn>
        <b-btn @click="cancel" variant="primary">Cancela</b-btn>
      </template>
    </b-modal>
  </div>


  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>



  <script>

    Vue.use(VueMask.VueMaskPlugin)

    let app = new Vue({
      el: '#app',
      data: {
        textoBusca: '',
        exibirModalExclusao: false,
        controleFormEditando: false,
        index: 0,
        convidadoRemocao: {},
        convidados: [],
        arrayAlerta: [],
        title: 'Lista de Convidados Vue',
        fields: [
          {
            label: 'Nome',
            key: 'nome',
            sortable: true
          },
          {
            label: 'Idade',
            key: 'idade',
            sortable: true
          },
          {
            label: 'Email',
            key: 'email',
            sortable: false
          },
          {
            label: 'CEP',
            key: 'cep',
            sortable: false
          },
          {
            label: 'Ações',
            key: 'acoes',
            sortable: false
          },
        ],
        listaConvidados: [],
        convidado: {
          endereco: {
            cep: '',
            logradouro: '',
            bairro: '',
            localidade: '',
            uf: '',

          }
        }
      },
      methods: {
        salvar() {
          this.validarCampos()
          this.verificarConvidadosRepetidosNaLista()

          if (this.arrayAlerta.length > 0 && !this.controleFormEditando) {
            this.exibeAlert = true
            return
          }

          if (this.controleFormEditando) {
            this.convidados.splice(this.index, 1, this.convidado)
            this.controleFormEditando = false
          } else {
            this.convidados.push(this.convidado)
          }

          this.listaConvidados = JSON.parse(JSON.stringify(this.convidados))
          this.limpar()

        },
        limpar() {
          this.convidado = { endereco: {} }
          this.index = 0
        },
        editar(index) {
          this.index = index
          this.convidado = JSON.parse(JSON.stringify(this.listaConvidados[index]))
          this.controleFormEditando = true
        },
        excluir() {
          console.log(this.convidados)
          let indice = this.convidados.findIndex((element) => {
            return element.email === this.convidadoRemocao.email
          })

          this.convidados.splice(indice, 1)
          this.listaConvidados.splice(indice, 1)
          this.exibirModalExclusao = false
        },
        confirmarRemocao(convidado) {
          this.convidadoRemocao = convidado
          this.exibirModalExclusao = true
        },
        validarCampos() {
          this.arrayAlerta = []

          if (this.convidado.nome === undefined || this.convidado.nome === "") {
            this.arrayAlerta.push("Preencher nome do convidado")
          }
          if (this.convidado.idade === undefined || this.convidado.idade === "") {
            this.arrayAlerta.push("Preencher idade do convidado")

          }
          if (this.convidado.email === undefined || this.convidado.email === "") {
            this.arrayAlerta.push("Preencher email do convidado")

          }
          if (this.convidado.endereco.cep === undefined || this.convidado.endereco.cep === "") {
  
            this.arrayAlerta.push("Preencher CEP")

          }
        },

        buscarCep(cep) {
         
          if (this.convidado.endereco.cep.length <= 10) {
            fetch(`https://viacep.com.br/ws/${cep}/json`).then((resposta) => {
              resposta.json().then((resultado) => {
                console.log(resultado)
                this.convidado.endereco = resultado
              })
            })
          }
        },

        verificarConvidadosRepetidosNaLista() {
          let nomesRepetidosNaLista = this.listaConvidados.filter(element => element.email === this.convidado.email)
          if (nomesRepetidosNaLista.length > 0) {
            this.arrayAlerta.push("Email já cadastrado anteriomente")
          }
        },
        buscar() {
          this.listaConvidados = this.convidados.filter((element) => {
            return element.nome.toLowerCase().includes(this.textoBusca.toLowerCase())
          })
        }


      },
    })
  </script>
  <style>
    .botaoBuscarCep{
      margin-top: 30px;
    }
  </style>
</body>

</html>
